@font-face {
  font-family: 'CenturyGothic';
  src:
    url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
    url('../fonts/CenturyGothic/CenturyGothic.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CenturyGothicBold';
  src:
    url('../fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff'),
    url('../fonts/CenturyGothic/CenturyGothic-Bold.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}